<div class="content">
  <p class="back">
    <span class="fas fa-arrow-circle-left">
      <%= link_to 'Back', employees_path %>
    </span>
  </p>

  <div class="edit">
    <h3>Editing Employee</h3>

    <%= render 'form', employee: @employee %>
  </div>
</div>
