<div class="content">
  <p class="back">
    <span class="fas fa-arrow-circle-left">
      <%= link_to 'Back', customers_path %>
    </span>
  </p>

  <div class="new">
    <h3>Editing Customer</h3>

    <%= render 'form', customer: @customer %>
  </div>
</div>