<div class="container">
  <p class="list-all">
    <span class="fas fa-th-list">
      <%= link_to 'Chats', chats_path %>
    </span>
  </p>

  <div class="new-chat">
    <h3>Editing Customer</h3>

    <%= render 'form', chat: @chat %>
  </div>
</div>