// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css");

html,
body {
  background-color: transparent;
}

.listing-order {
  margin-top: 5%;
}

.add-new,
.list-all {
  float: right;
}

.orders,
.new-order,
.edit-order,
.show-order {
  margin-top: 50px;
}

.fa-trash-alt,
.fa-trash-alt a,
.fa-trash-alt a:hover {
  color: red;
}

.fa-eye,
.fa-edit,
.fa-th-list,
.fa-th-list a,
.fa-th-list a:hover {
  color: blue;
}

a,
a:hover {
  color: blue;
  cursor: pointer;
  text-decoration: none;
}

p a,
p a:hover,
span {
  color: green;
}
