<div class="sidebar">
  <a class="active" href="/">Home</a>
  <a href="/questions">Nested Forms</a>
  <a href="/customers">Ajax Datatable</a>
  <a href="/employees">Single Table Inheritance</a>
  <a href="/chats">Action Cable</a>
</div>